@using Microsoft.AspNetCore.Identity;
@model PublicationsAllQueryModel


<div class="text-center mt-3">
    <h2>Публикации</h2>
</div>
<hr />

<form method="get">
    <div class="row">
        <div class="form-group col-md-4 d-flex justify-content-between">

            <div class="form-group">
                <label asp-for="Category"></label>
                <select asp-for="Category" class="form-control">
                    <option value="">Всички категории</option>
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category">@category</option>
                    }
                </select>
            </div>           
            <div class="form-group">
                <label asp-for="PublicationsPerPage"></label>
                <select asp-for="PublicationsPerPage" class="form-control">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                </select>
            </div>
        </div>
       
        <div class="form-group col-md-3">
            <label asp-for="SearchTerm"></label>
            <input asp-for="SearchTerm" class="form-control" placeholder="Търси">
        </div>

        <div class="form-group col-md-3">
            <div class="form-group">
                <label asp-for="PublicationSorting"></label>
                <select asp-for="PublicationSorting" class="form-control">
                    <option value="0">Дата на публикуване (Низходящ ред)</option>
                    <option value="1">Дата на публикуване (Възходящ ред)</option>
                    <option value="2">Заглавие (Низходящ ред)</option>
                    <option value="3">Заглавие (Възходящ ред)</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group mt-4 p-2">
                <input type="submit" value="Търси" class="btn btn-primary" />
            </div>
        </div>
        
    </div>
</form>



@{
    int previousPage = Model.CurrentPage - 1;
    if (previousPage < 1)
    {
        previousPage = 1;
    }

    int maxPage = (int)Math.Ceiling((double)Model.TotalPages /
        Model.PublicationsPerPage);
}



<div class="row mb-5">
    <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
           asp-controller="House"
           asp-action="All"
           asp-route-currentPage="@previousPage"
           asp-route-category="@Model.Category"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-sorting="@((int)Model.PublicationSorting)">Предишна страница</a>
    </div>

    @{
        bool nextPageBeDisabled = Model.CurrentPage == maxPage ||
        !Model.Publications.Any();
    }

    <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-primary
           @(nextPageBeDisabled ? "disabled" : string.Empty)"
           asp-controller="Publication"
           asp-action="All"
           asp-route-currentPage="@(Model.CurrentPage + 1)"
           asp-route-category="@Model.Category"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-sorting="@((int)Model.PublicationSorting)">Следваща страница</a>
    </div>
</div>

@if (!Model.Publications.Any())
{
    <h2 class="text-center">Не са открити публикации!</h2>
}

<div class="row">
    @foreach (var publication in Model.Publications)
    {
        <partial name="_PublicationPartial" model="@publication" />
    }
</div>