﻿@using Galatea.Services.Data.Interfaces
@using Galatea.Web.Infrastructure.Extensions
@model PublicationDetails


@{
    ViewBag.Title = "Детайли за Публикация";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container" style="display:inline">
    <div class="row">
        <div class="col-4">
            <img class="card-img-top" style="width: 20rem;"
                 src="@Model.ImageUrl" alt="Publication Image">
        </div>
        <div class="card col-8 border-0">
            <p style="font-size:25px;"><u>@Model.Title</u></p>
            <p>Описание: <b>@Model.Content</b></p>
            
            <p>@Model.CreatedOn</p>
            <p>Категория: <b>@Model.Category</b></p>

            <section class="ftco-section bg-light">
                <div class="container">
                    <div class="row">

                        <div class="col-md-12 col-lg-12 mb-5">

                            <form method="post" class="p-5 bg-white">

                                
                                

                                <center>
                                    <font face="Arial" size="4"><b> Мнения на потребители </b> </font> <br><br>


                                    <form method="POST" action="mailto:maria_vn86@abv.bg">
                                        <b>

                                            Име:<input name="name" type="text"> &nbsp;&nbsp;&nbsp; Години:<input name="age" type="text">&nbsp;&nbsp;&nbsp;
                                            Пол:<input name="sex" value="female" checked="checked" type="radio">Жена &nbsp;&nbsp;<input name="sex" value="Male" type="radio">Мъж
                                            <br><br>
                                            Въведете вашето мнение:<br>
                                            <textarea name="msg" rows="4" cols="45"></textarea><br>
                                            <input value="Въведи" type="submit">
                                            <input value="Изчисти" type="reset">

                                        </b>
                                    </form>
                                </center>

                            </form>
                        </div>
                    </div>
                </div>
            </section>
            
            <div class="form-inline">
                @if (User.Identity?.IsAuthenticated ?? false)
                {
                   
                        <a class="btn btn-warning" asp-controller="Publication" asp-action="Edit"
                           asp-route-id="@Model.Id">Edit</a>
                    <a class="ml-2 btn btn-danger" asp-controller="Publication" asp-action="Delete"
                           asp-route-id="@Model.Id">Delete</a>
                    
                }
            </div>
            <p></p>
            
        </div>
    </div>
</div>