@using Galatea.Services.Data.Interfaces;

@using Galatea.Web.Infrastructure.Extensions;
@using Microsoft.AspNetCore.Identity;

@model PublicationAllViewModel


@inject IUsersService userService
@{
    bool isUserOwnerOfThePublication = await userService
    .IsUserWithIdOwnerOfPublicationWithIdAsync(Model.Id, User.GetId()!);
}

<div class="col-md-4">
    <div class="card mb-3">
        <img class="card-img-top" src="@Model.ImageUrl" alt="Publication Image">
        <div class="card-body text-center">
            <h4>@Model.Title</h4>
            <h6> <b>@Model.Content</b></h6>
            
           
            <br />
            <a asp-area="" asp-controller="Publication" asp-action="Details" asp-route-id="@Model.Id"
               class="btn btn-info">Детайли</a>

            @if (User.Identity?.IsAuthenticated ?? false)
            {
                @if (isUserOwnerOfThePublication || User.IsAdmin())
                {
                    <a asp-area="" asp-controller="Publication" asp-action="Edit" asp-route-id="@Model.Id"
                       class="btn btn-info">Редактирай</a>
                    <a asp-area="" asp-controller="Publication" asp-action="Delete" asp-route-id="@Model.Id"
                       class="btn btn-info">Изтрий</a>
                }                    

               <p></p>               
            }
        </div>
    </div>
</div>
